html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 500px;
  min-height: 600px;
  user-select: none;
  overflow: hidden; }

.full-page-img {
  position: absolute;
  height: 100%;
  width: 75.3vw;
  background: no-repeat top/cover url(../img/bg_girl_image.png);
  filter: saturate(120%) hue-rotate(-5deg); }

.page-container {
  display: flex;
  justify-content: flex-start;
  height: 100%; }

.page-container__full-page-layout {
  height: 100%;
  width: 87.1vw;
  position: relative; }

.aside-bar {
  height: 100%;
  position: relative;
  flex-shrink: 0;
  transition: width 0.3s ease-out, background-color 0.3s ease-out; }
  .aside-bar .aside-bar__inner-bar {
    height: 80%;
    position: relative;
    left: 13px;
    top: 224px;
    background-color: #f6f5f5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .aside-bar .aside-bar__inner-bar .aside-bar__header4 {
      font: bold 31px/1.2  'Open Sans', sans-serif;
      color: #fc5095;
      position: relative;
      letter-spacing: 0.05em;
      margin: 100px 60px 15px 55px;
      transition: opacity 0.3s ease-out; }
    .aside-bar .aside-bar__inner-bar .aside-bar__header4--view2 {
      color: #fc5095;
      margin: 85px 60px 15px 65px; }
    .aside-bar .aside-bar__inner-bar .aside-bar__paragraph {
      font: 600 24px/1.2 'Open Sans', sans-serif;
      color: #3b3b3b;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin: 5px 20px 0 57px;
      transition: opacity 0.3s ease-out; }
    .aside-bar .aside-bar__inner-bar .aside-bar__flex-space-item {
      height: 14vh;
      flex-shrink: 1; }
    .aside-bar .aside-bar__inner-bar .aside-bar__flex-space-item--view2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30%;
      padding: 20px 0 25px 0; }
    .aside-bar .aside-bar__inner-bar .aside-bar__middle-btn {
      display: block;
      font: 600 24px/75px 'Open Sans', sans-serif;
      background-color: white;
      color: #3b3b3b;
      border: 1px solid #cccccc;
      letter-spacing: 0.075em;
      text-align: center;
      transition: opacity 0.3s ease-out, background-color 0.3s ease-out; }
    .aside-bar .aside-bar__inner-bar .aside-bar__middle-btn--view2 {
      height: 80px;
      width: 275px;
      border-radius: 10px;
      padding: 0 50px 0 50px;
      margin: 10px 50px 10px 60px; }
    .aside-bar .aside-bar__inner-bar .aside-bar__header3 {
      font: bold 35px 'Open Sans', sans-serif;
      color: #3b3b3b;
      margin: 5px 60px 15px 60px;
      transition: opacity 0.3s ease-out; }
    .aside-bar .aside-bar__inner-bar .aside-bar__flex-space-item-bottom {
      height: 27vh;
      flex-shrink: 0; }
    .aside-bar .aside-bar__inner-bar .aside-bar__flex-space-item-bottom-view2 {
      flex-shrink: 1; }

.aside-bar__lower-btn {
  display: block;
  text-decoration: none;
  font: bold 38px/75px 'Open Sans', sans-serif;
  background-color: #fc5095;
  color: white;
  text-align: center;
  height: 80px;
  width: 275px;
  border-radius: 20px;
  letter-spacing: 0.075em;
  padding: 0 5px 0 5px;
  margin: 20px auto 15px 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: opacity 0.3s ease-out, background-color 0.3s ease-out; }
  .aside-bar__lower-btn:hover {
    background-color: #0099cc; }

.aside-bar__lower-btn--view2 {
  font: bold 28px/75px 'Open Sans', sans-serif;
  margin: 65px 60px 15px 95px; }

.aside-bar__outer-circle {
  height: 80px;
  width: 80px;
  left: -48px;
  top: 88px;
  border-radius: 50%;
  position: absolute;
  transition: background-color 0.3s ease-out; }
  .aside-bar__outer-circle .aside-bar__inner-circle {
    height: 62px;
    width: 62px;
    left: 9px;
    top: 9px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute; }
    .aside-bar__outer-circle .aside-bar__inner-circle .aside-bar__svg-icon {
      transition: fill 0.3s ease-out; }

.footer-bar {
  background-color: rgba(255, 255, 255, 0.74);
  position: absolute;
  display: flex;
  height: 60px;
  bottom: 0;
  width: 100%;
  justify-content: space-between; }
  .footer-bar .footer-bar__flex-items-container {
    display: flex;
    flex: 0 0 81%;
    flex-wrap: wrap;
    justify-content: space-between; }
  .footer-bar .footer-bar__flex-spacer-right,
  .footer-bar .footer-bar__flex-spacer-left {
    width: 180px; }
  .footer-bar .footer-bar__item {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.050em;
    color: #3b3b3b;
    align-self: center; }

.page-container__aside-gradient {
  position: absolute;
  width: 508px;
  height: 100%;
  right: 0; }

.aside-bar__header4--visible,
.aside-bar__paragraph--visible,
.aside-bar__header3--visible,
.aside-bar__lower-btn--visible {
  opacity: 1; }

.aside-bar__header4--hidden,
.aside-bar__paragraph--hidden,
.aside-bar__header3--hidden,
.aside-bar__lower-btn--hidden {
  opacity: 0; }

.aside-bar--width-current {
  width: calc(479px + 0px); }

.aside-bar--width-next {
  width: calc(479px + 370px); }

.aside-bar__outer-circle--color-current,
.aside-bar--color-current {
  background-color: #fc5095; }

.aside-bar__outer-circle--color-next,
.aside-bar--color-next {
  background-color: #fc5095; }

.page-container__aside-gradient--color-current {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(88, 28, 28, 0.5)); }

.page-container__aside-gradient--color-next {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(88, 28, 28, 0.5)); }

.aside-bar__svg-icon--color-current {
  fill: #fc5095; }

.aside-bar__svg-icon--color-next {
  fill: #fc5095; }

@media only screen and (max-width: 1399.98px) {
  .aside-bar--width-current {
    width: calc(379px + 0px); }

  .aside-bar--width-next {
    width: calc(379px + 370px); }

  .aside-bar .aside-bar__inner-bar {
    left: 15px;
    top: 175px; }
    .aside-bar .aside-bar__inner-bar .aside-bar__header4 {
      font-size: 24px;
      margin: 110px 60px 15px 60px; }
    .aside-bar .aside-bar__inner-bar .aside-bar__paragraph {
      font-size: 16px;
      margin: 5px 20px 0 65px; }
    .aside-bar .aside-bar__inner-bar .aside-bar__header3 {
      font-size: 24px;
      margin: 5px 60px 15px 60px; }
    .aside-bar .aside-bar__inner-bar .aside-bar__lower-btn {
      font-size: 28px;
      line-height: 55px;
      height: 60px;
      width: 205px;
      padding: 0 5px 0 5px;
      margin: 20px auto 15px 60px; }
  .aside-bar .page-container__aside-gradient {
    width: 308px; } }
@media only screen and (max-width: 991.98px) {
  .aside-bar--width-current {
    width: calc(279px + 0px); }

  .aside-bar--width-next {
    width: calc(279px + 370px); }

  .aside-bar .aside-bar__inner-bar {
    left: 15px;
    top: 225px; }
    .aside-bar .aside-bar__inner-bar .aside-bar__header4 {
      font-size: 18px;
      margin: 110px 50px 15px 50px; }
    .aside-bar .aside-bar__inner-bar .aside-bar__paragraph {
      font-size: 14px;
      margin: 5px 20px 0 50px; }
    .aside-bar .aside-bar__inner-bar .aside-bar__header3 {
      font-size: 18px;
      margin: 5px 60px 15px 60px; }
    .aside-bar .aside-bar__inner-bar .aside-bar__lower-btn {
      font-size: 22px;
      height: 60px;
      width: 175px;
      line-height: 55px;
      padding: 0 5px 0 5px;
      margin: 20px auto 15px 50px; }
  .aside-bar .page-container__aside-gradient {
    width: 208px; } }
.aside-bar__container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px; }

/* Hide the browser's default radio button */
.aside-bar__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.aside-bar__container:hover input ~ .aside-bar__middle-btn {
  background-color: #ffd2bb; }

.aside-bar__container input:checked ~ .aside-bar__middle-btn {
  background-color: #fc5095; }
