// * {
//    outline: 1px solid red; 
// }

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 500px;
  min-height: 600px;
  user-select: none;
  overflow: hidden;
}

.page-container {
  display: flex;
  height: 100%;
}

.full-page-img {
  background: no-repeat center/cover url(../img/bg_girl_image.png);
  height: 100%;
  width: 100%;
  filter: saturate(120%) hue-rotate(-5deg);
  position: relative;
}

//============= Aside Bar =============//

.aside-bar {
  height: 100%;
  width: calc(479px + #{$navShift});
  background-color: $frameColor;
  position: relative;
  flex-shrink: 0;

  .aside-inner-bar {
    height: 80%;
    position: relative;
    left: 13px;
    top: 224px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  h4 {
    font: bold 32px 'Open Sans', sans-serif;
    color: $frameColor;
    position: relative;
    letter-spacing: 0.05em;
    margin: 100px 60px 15px 55px;
  }
  p {
    font: 600 24px/1.2 'Open Sans', sans-serif;
    color: #3b3b3b;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 5px 20px 0 57px;
  }
  .flex-space-item {
    height: 14vh;
    flex-shrink: 2;
  }
  h3 {
    font: bold 35px 'Open Sans', sans-serif;
    color: #3b3b3b;
    margin: 5px 60px 15px 60px;
  }
  .btn {
    font: bold 38px/75px 'Open Sans', sans-serif;
    background-color:$frameColor;
    color: white;
    text-align: center;
    height: 80px;
    width: 275px;
    border-radius: 20px;
    letter-spacing: 0.075em;
    padding: 0 5px 0 5px;
    margin: 20px auto 15px 60px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      
    &:hover {
    background-color: #0099cc;
    }
  }
  .flex-space-item-bottom {
    height: 27vh;
    flex-shrink: 0;
  }
  }
}

//============= Heart logo =============//

.outer-circle {
  height: 80px;
  width: 80px;
  left: -48px;
  top: 88px;
  border-radius: 50%;
  background-color: $frameColor;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .inner-circle {
    height: 62px;
    width: 62px;
    left: 9px;
    top: 9px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      
      .svg-icon {
        fill:$frameColor;
    }
  }
}

//============= Footer Bar =============//

.footer-bar {
  background-color: rgba(256, 256, 256, 0.74);
  position: absolute;
  display: flex;
  height: 60px;
  bottom: 0;
  width: 100%;
  justify-content: space-between;

  .flex-wrap {
    display: flex;
    flex: 0 0 81%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex-spacer-right, 
  .flex-spacer-left {
    width: 180px;
  }
  
  a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.050em;
    color: #3b3b3b;
    align-self: center;

  }
}

.aside-gradient {
  position: absolute;
  width: 508px;
  height: 100%;
  right: 0;
  background-image: linear-gradient(to right, rgba(0,0,0,0), $gradientToColor)
}

//============= Adaptive design =============//

@media only screen and (max-width: 1399.98px) {

  .aside-bar {
    height: 100%;
    width: calc(379px + #{$navShift});
    
    .aside-inner-bar {
      left: 15px;
      top: 175px;

      h4 {
        font-size: 24px;
        margin: 110px 60px 15px 60px;
      }
      p {
        font-size: 16px;
        margin: 5px 20px 0 65px;
      }
      h3 {
        font-size: 24px;
        margin: 5px 60px 15px 60px;
      }
      .btn {
        font-size: 28px;
        height: 60px;
        width: 205px;
        border-radius: 20px;
        line-height: 55px;
        padding: 0 5px 0 5px;
        margin: 20px auto 15px 60px;
          
      }
    }
  }
  .aside-gradient {
    width: 308px;
  }
}

@media only screen and (max-width: 991.98px) {
  
  .aside-bar {
    height: 100%;
    width: calc(279px + #{$navShift});
      
    .aside-inner-bar {
      left: 15px;
      top: 225px;

      h4 {
        font-size: 18px;
        margin: 110px 50px 15px 50px;
      }
      p {
        font-size: 14px;
        margin: 5px 20px 0 50px;
      }
      h3 {
        font-size: 18px;
        margin: 5px 60px 15px 60px;
      }
      .btn {
        font-size: 22px;
        height: 60px;
        width: 175px;
        border-radius: 20px;
        line-height: 55px;
        padding: 0 5px 0 5px;
        margin: 20px auto 15px 50px;
      }
    }
  }
  .aside-gradient {
    width: 208px;
  }
}
