@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
  height: 100%;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  min-width: 500px;
}

.page_container {
  display: flex;
  height: 100%;
}

.full_page_img {
  background-image: url('./img/depositphotos_32904189-stock-photo-pretty-girl.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
}

.aside_bar {
  height: 100%;
  width: 600px;
  background-color: #fc5095;
  position:relative;
}

.aside_inner_bar {
  height: 85%;
  width: 585px;
  position: absolute;
  left: 14px;
  top: 225px;
  background-color: #fff;
}

.outer_circle {
  height: 80px;
  width: 80px;
  left: -48px;
  border-radius: 50%;
  background-color: #fc5095;
  position: absolute;
}

.inner_circle {
  height: 60px;
  width: 60px;
  left: 10px;
  top: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

.icon {
  color: aqua;
  background-color: yellow;
}